<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.photonics.com/images/Web/Articles/2019/11/4/thumbnail_65257.jpg');">
  <div class="container">
    <h1>Your Movies Lists </h1>
    <p>Change your life whatch some movies</p>
  </div>
</div>
<div>
  <ul>
    <% @lists.each do |list| %>
      <li>
      <%= list.name %>
        
      </li>
    <% end %>
  </ul>
</div>
