<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.photonics.com/images/Web/Articles/2019/11/4/thumbnail_65257.jpg');">
  <div class="container">
    <h1>Your Movies Lists </h1>
    <p>Change your life whatch some movies</p>
    <%= link_to "Add a List", new_list_path(@list), class:"btn btn-gradient" %>
  </div>
</div>

<div class="cards">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1CyY2a29pzuBFMpK-yK7L7xIHiNPFoGyKrg&usqp=CAU')" >
        <%= list.name %>
      </div>
    <% end %>
  <% end %>
</div>
