<h1>Create a new bookmark</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <div class="form form-movie">
    <%= f.input :comment %>
    <%= f.association :movie %>
  </div>
  <div class="btn btn-gradient create-movie-button">
    <%= f.button :submit %>
  </div>
<% end %>
