.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 140px;
  padding: 20px;
  width: 320px;
  color: white;
  margin-left: 8px;
}

.form-movie {
  height: 280px;
}
